name: API Suspend Call

on:
  schedule:
    - cron: '50 17 * * *'  # This still schedules it to run daily at 11:20PM IST
  workflow_dispatch:  # This enables manual triggers

jobs:
  api_call:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas requests openpyxl pytz

    - name: Run API suspension script
      run: |
        python .github/workflows/python_call.py  # Replace with the actual name of your Python script
